:root {
  /* App Colors */
  --color-primary: var(--color-black);
  --color-primary--variant: var(--color-gray);
  --color-accent: var(--color-blue);
  --color-accent--variant: var(--color-orange);
  --color-text: var(--color-white);
  /* Colors */
  --color-white: #fff;
  --color-black: #050a13;
  --color-blue: #03e8f9;
  --color-orange: #fd6413;
  --color-gray: #1b1e26;
  /* Size */
  --size-max-width: 1200px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1, h2, h3, p, ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color--text);
}

button {
  background-color: transparent;
  outline: none;
  border: none;
}

button:focus {
  outline: 1px solid var(--color-accent);
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Pretendard-Light.woff2") format("woff2");
  unicode-range: U+AC00-D7A3, U+1100-11FF, U+3130-318F;
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Pretendard-Regular.woff2") format("woff2");
  unicode-range: U+AC00-D7A3, U+1100-11FF, U+3130-318F;
}
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Pretendard-Bold.woff2") format("woff2");
  unicode-range: U+AC00-D7A3, U+1100-11FF, U+3130-318F;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/OpenSans-Light.woff2") format("woff2");
  unicode-range: U+0020-007F;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2");
  unicode-range: U+0020-007F;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2");
  unicode-range: U+0020-007F;
}
body {
  font-family: "Pretendard", "Open Sans", sans-serif;
}

/* Header */
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 1rem;
  background-color: var(--color-primary);
  color: var(--color-text);
}
.site-header__logo-link {
  display: block;
  padding: 4px;
  font-size: 1.5rem;
}

.site-menu__content {
  display: flex;
  align-items: center;
  gap: 4px;
}
.site-menu__link {
  white-space: nowrap;
  display: block;
  padding: 8px 12px;
  border-bottom: 1px solid transparent;
}
.site-menu__link:hover {
  border-bottom: 1px solid var(--color-accent);
}
.site-menu__link--active {
  border: 1px solid var(--color-accent);
  border-radius: 4px;
}

/* Footer */
.site-footer {
  padding: 4rem;
  background-color: var(--color-primary);
  color: var(--color-text);
  text-align: center;
}
.site-footer__title {
  margin: 1rem 0;
  font-size: 2.5rem;
}
.site-footer__email {
  margin: 0.5rem 0;
  font-size: 1.2rem;
}
.site-footer__link {
  display: inline-block;
  margin: 0.5rem 0;
  padding: 10px;
}
.site-footer__link:hover {
  color: var(--color-accent);
}
.site-footer__icon {
  font-size: 2rem;
}

/* Common */
.section {
  padding: 4rem;
  text-align: center;
}
.section__header-title {
  margin: 1rem 0;
  font-size: 2.5rem;
}
.section__header-description {
  margin: 0.5rem 0;
  font-size: 1.5rem;
}

.max-container {
  max-width: var(--size-max-width);
  margin: 0 auto;
}

/* Home */
.home {
  padding: 7rem 5rem 5rem;
  background-color: var(--color-primary);
  color: var(--color-text);
  text-align: center;
}
.home__profile {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border: 3px solid var(--color-accent);
  border-radius: 100%;
}
.home__title {
  margin: 1rem 0;
  font-size: 2.5rem;
}
.home__title--strong {
  color: var(--color-accent);
}
.home__text {
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
}
.home__button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: var(--color-accent);
  border-radius: 4px;
  color: var(--color-primary);
  font-weight: 700;
}
.home__button:hover {
  background-color: transparent;
  color: var(--color-text);
  outline: 2px solid var(--color-accent);
}

/* About */
.about__contents {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  margin: 3rem 0;
}
.about__major {
  cursor: default;
  padding: 2rem;
  background-color: var(--color-primary--variant);
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.35);
  border-radius: 1rem;
  color: var(--color-text);
}
.about__major-icon {
  margin: 1rem 0;
  color: var(--color-accent);
  font-size: 4rem;
  transition: all 0.5s ease;
}
.about__major-title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}
.about__major:hover .about__major-icon {
  transform: scale(1.2);
}
.about__experience {
  text-align: left;
}
.about__experience-list:not(:first-of-type) {
  margin-top: 1rem;
}
.about__experience-name, .about__experience-period {
  color: var(--color-primary);
}
.about__experience-name {
  font-size: 1.2rem;
}

/* Skills */
.skills {
  background-color: var(--color-primary--variant);
  color: var(--color-text);
}
.skills-contents {
  overflow: hidden;
  display: grid;
  grid-template-columns: 6fr 4fr;
  margin: 2rem;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
}
.skills-contents__list {
  padding: 2rem;
}
.skills-contents__coding {
  grid-row: span 2;
  background-color: var(--color-primary);
}
.skills-contents__tools {
  background-color: var(--color-primary);
  filter: brightness(150%);
}
.skills-contents__title {
  margin: 1rem 0;
  color: var(--color-accent);
  font-size: 1.2rem;
}
.skills-contents__description {
  line-height: 1.8;
}
.skills .bar__item {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.8rem;
}
.skills .bar__data {
  display: flex;
  justify-content: space-between;
}
.skills .bar__data-icon {
  margin-right: 5px;
}
.skills .bar__bg {
  width: 100%;
  height: 3px;
  background-color: var(--color-primary--variant);
}
.skills .bar__value {
  height: 100%;
  background-color: var(--color-accent);
}

/* Work */
.work {
  background-color: var(--color-primary);
  color: var(--color-text);
}
.work-category {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2.5rem;
}
.work-category__item {
  cursor: pointer;
  white-space: nowrap;
  position: relative;
  padding: 0.5rem 3rem;
  background-color: transparent;
  border: 1px solid var(--color-accent);
  border-radius: 4px;
  color: var(--color-text);
}
.work-category__item--selected {
  background-color: var(--color-accent);
  color: var(--color-primary);
}
.work-category__item--selected .work-category__count {
  opacity: 1;
  top: 0;
}
.work-category__item:hover .work-category__count {
  opacity: 1;
  top: 0;
}
.work-category__count {
  opacity: 0;
  position: absolute;
  top: -20px;
  right: 16px;
  width: 28px;
  height: 28px;
  line-height: 28px;
  background-color: var(--color-accent--variant);
  border-radius: 100%;
  color: var(--color-text);
  font-size: 0.8rem;
  transition: all 0.2s ease-in;
}
.work-projects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}
.work-projects__link {
  overflow: hidden;
  display: block;
  position: relative;
  border-radius: 0.5rem;
}
.work-projects__link:hover .work-projects__text {
  opacity: 0.8;
  transform: translateY(0px);
}
.work-projects__img {
  width: 100%;
}
.work-projects__text {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  transform: translateY(-10px);
  transition: all 250ms ease-in;
}
.work-projects__title::after {
  content: "";
  display: block;
  position: relative;
  width: 50px;
  left: 50%;
  height: 2px;
  margin: 0.5rem 0;
  background-color: var(--color-accent);
  transform: translateX(-50%);
}

/* Testimonials */
.testimonials__list {
  margin: 3rem;
}
.testimonials__item {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.testimonials__item:nth-child(n+2) {
  margin-top: 2rem;
}
.testimonials__item:nth-child(even) .testimonials__img {
  order: 1;
}
.testimonials__img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.35);
}
.testimonials__text {
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 2px 12px 20px 6px rgba(0, 0, 0, 0.1);
}
.testimonials__text p:nth-child(2) {
  margin-top: 1rem;
}

/* Arrow Up */
.arrow-up__button {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  width: 4.5rem;
  height: 4.5rem;
  background-color: var(--color-primary);
  border-radius: 100%;
  box-shadow: 5px 5px 0px 0px var(--color-accent);
  color: var(--color-text);
  text-align: center;
  font-size: 3rem;
}
